@using Model
@using Business.IRepostitory
@model AdministratorModel
@inject IUserRepository UserRepository
@{
    ViewData["Title"] = "AddAdministrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listRole = UserRepository.GetAllRole();
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/banners/getall">Danh sách quản trị</a></li>
                        <li class="breadcrumb-item active">Nhập thông tin</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nhập thông tin</h4>
                    </div>
                    <div class="card-body">
                        <form action="/accounts/AddAdministrator" method="post" enctype="multipart/form-data" name="mainform">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="form-group row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Tên tài khoản</label>
                                        <input type="text" name="UserName" class="form-control" asp-for="UserName" placeholder="Nhập UserName" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Mật khẩu</label>
                                        <input type="password"  class="form-control" asp-for="Password" placeholder="Nhập UserName" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Họ Tên</label>
                                        <input class="form-control" type="text" asp-for="FullName" placeholder="Nhập họ tên" required />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="email" asp-for="Email" placeholder="Nhập Email" required />
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Chọn Quyền</label>
                                        <select class="form-control" asp-for="RoleName">
                                            <option value="" selected disabled>Chọn quyền</option>
                                            @foreach (var role in listRole)
                                            {
                                                <option value="@role.Name">@role.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <button class="btn btn-primary mt-5 align-items-end" type="submit">Lưu</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{

}


