@model int
<div class="modal-body">
    <div class="form-content p-2 text-center">
        <h4 class="modal-title">Xóa Contact</h4>
        <p class="mb-4">Bạn muốn xóa contact này không?</p>
        <button type="button" onclick="Remove('@Model')" class="btn btn-primary">Xóa </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
    </div>
</div>