@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
   // Model.TotalMoneyInMonth = 1000;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
 //   string totalMoneyInMonth = Model.TotalMoneyInMonth.ToString("#,###", cul.NumberFormat);

}

<div class="page-wrapper">

    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Admin!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
      
     


    </div>
</div>